.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/background/Background_Intro.png);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.apresentation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.profile {
  width: 96px;
  height: 96px;
  margin-top: 120px;
  margin-bottom: 56px;
}

.hero-subtittle {
  color: var(--gray-200);
  font-family: normal 20px/120% var(--font-family-inconsolata);
  margin-bottom: 8px;
}

.hero-tittle {
  color: var(--gray-100);
  font: 800 48px/120% var(--font-family-asap);
  margin-bottom: 16px;
}

.hero-description {
  color: var(--gray-300);
  text-align: center;
  margin-bottom: 80px;
}

.linguagens {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding-block: 8px;
  padding-inline: 16px;
  background-color: var(--gray-400);
  border-radius: 16px;
  text-decoration: none;

  span {
  width: 24px;
  height: 24px;

  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
  p {
  color: var(--gray-200);
}
  &:hover {
    transform: translateY(-4px);
    transition: 0.3s;
  }
}

.tecnologias {
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 754px;
  max-height: 40px;
}

#github {
  background-image: url(../assets/ícones-tec/GitHub.png);
  width: 24px;
}

#html {
  background-image: url(../assets/ícones-tec/HTML.png);
  
}

#css {
  background-image: url(../assets/ícones-tec/CSS.png);
}

#js {
  background-image: url(../assets/ícones-tec/JavaScript.png);
}

#react {
  background-image: url(../assets/ícones-tec/React.png);
}

#node {
  background-image: url(../assets/ícones-tec/Vector.png);
}

#setinha {
  background-image: url(../assets/CaretDoubleDown.png);
}

.setinha span {
  width: 32px;
  height: 32px;

  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.setinha {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 94px;
  
}


