.projects {
  background-color: var(--gray-500);
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 130px;
}

.header h2 {
  color: var(--gray-100);
  font: 800 24px/120% var(--font-family-asap);
  margin-top: 8px;
}

.projetos-grid {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 24px;
  padding-top: 56px;
  justify-content: center;
  padding-bottom: 144px;
}

.card-projects {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--gray-400);
  padding-block: 14px;
  padding-inline: 8px;
  border-radius: 16px;
  img {
    width: 306px;
    border-radius: 8px;
    align-self: center;
  }
    h3 {
    color: var(--gray-100);
 }
    p {
  color: var(--gray-200);
 }

 &:hover {
  border: 1px solid var(--gray-300);
 }

}

.texto {
  margin: 20px 0 8px 12px;
  max-width: auto;
}

.services {
  background-color: var(--gray-600);
  height: 520px;
}

#pc {
  background-image: url(../assets/services/Devices.png);
}

#api {
  background-image: url(../assets/services/HardDrives.png);
}

#devops {
  background-image: url(../assets/services/Infinity.png);
}

.projetos-service {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 56px;
  margin-bottom: 120px;
  gap: 24px;
}

.card-services {
  background-color: var(--gray-600);
  border: 1px solid var(--gray-500);
  border-radius: 8px;
  padding: 20px;
  height: 155px;
  width: 280px;

  span {
  width: 48px;
  height: 48px;

  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

  h3 {
    color: var(--gray-100);
    margin-top: 20px;
    margin-bottom: 8px;
  }

  p {
    color: var(--gray-200);
  }
}

.texto-services {
  padding-bottom: 20px;
  width: 240px;
}

.contacts {
  background-image: url(../assets/background/Background_Contacts.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 800px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contacts-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  

  h2 {
    color: var(--gray-100);
    padding-block: 8px;
  }

  p {
    color: var(--gray-200);
  }
}

#linkedin {
  background-image: url(../assets/logo-contats/LinkedinLogo.png);
}

#instagram {
  background-image: url(../assets/logo-contats/InstagramLogo.png);
}

#github {
  background-image: url(../assets/logo-contats/GithubLogo.png);
}

#email {
  background-image: url(../assets/logo-contats/EnvelopeSimple.png);
}

.setinha-azul {
  background-image: url(../assets/logo-contats/ArrowUpRight.png);
}

.card-contats {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: var(--gray-400);
  border-radius: 8px;
  gap: 12px;
  position: relative;

  span {
  width: 28px;
  height: 28px;

  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
  h3 {
    color: var(--gray-200);
  }

  div {
    position: absolute;
    right: 20px;
  }

  &:hover {
    border: 1px solid var(--blue);
  }
}

.column-contats {
  display: flex;
  flex-direction: column;
  gap: 16px;

  margin-top: 48px;
}

.setinha-azul {
  display: flex;
  width: 20px;
  height: 20px;
  justify-self: end;

  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}