.projects {
  background-color: var(--gray-500);
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -60px;
}

.header h2 {
  color: var(--gray-100);
  font: 800 24px/120% var(--font-family-asap);
}

.projetos-grid {
  display: grid;
  grid-template-columns: repeat(3, 320px);
  gap: 24px;
  padding-top: 56px;
  justify-content: center;
  padding-bottom: 144px;
}

.card-projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--gray-400);
  padding: 12px;
  border-radius: 16px;
  img {
    width: 306px;
    border-radius: 8px;
  }
}