.main-red {
  color: var(--red);
}

.main-purple {
  color: var(--purple);
  font: var(--subtittle);
}

.subtittle {
  font: normal 20px/120% var(--font-family-inconsolata);
}

.tittle-sm {
  font: 800 16px/120% var(--font-family-asap);
}

.tittle-md {
  font: 800 24px/120% var(--font-family-asap);
}

.text-sm {
  font: normal 14px/140% var(--font-family-maven);
}

.text-md {
  font: normal 16px/140% var(--font-family-maven);
}